@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
body {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}

h1 {
  font-size: 23px;
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
  margin-inline: 20px;
  margin-bottom: 25px;
}

.container {
  display: flex;
  margin: auto;
  width: 300px;
  padding: 10px;
  background-color: white;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.qr-image {
  width: 98%;
}

.rounded-corners {
  border-radius: 15px;
}
